<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value=".\GlobalPackagesFolder" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="privaterepo" value="./privatenuget" />
	</packageSources>

	<packageSourceMapping>
		<clear />
		<packageSource key="nuget.org">
			<package pattern="microsoft.*" />
			<package pattern="Samyne.DigitalDiary.Abstractions" />
			<package pattern="Samyne.DigitalDiary.MemoryRepository" />
			<package pattern="Swashbuckle.AspNetCore" />
			<package pattern="Swashbuckle.AspNetCore.Swagger" />
			<package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
			<package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
		</packageSource>
	</packageSourceMapping>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>